[submodule "vunit"]
	path = vunit
	url = https://github.com/VUnit/vunit.git
[submodule "tsfpga"]
	path = tsfpga
	url = https://github.com/ru551n/tsfpga.git
[submodule "hdl-modules"]
	path = hdl-modules
	url = https://github.com/ru551n/hdl-modules.git
